{% extends 'base.html' %}
{% block title %} Home {% endblock title %}
{% block content %}
    <h1 style="margin-top: 3px;">Home Page</h1>

    {% if user.is_authenticated %}
      <h2>Hi {{ user }}!</h2>
      <a href="{% url 'logout' %}" class="btn btn-secondary">Log out</a>
      <div class="container wrapper d-flex justify-content-center">
        <div class="p-4">
        <form action="{% url 'new_group' %}" method="post">
          {% csrf_token %}
        <p>Create new chat</p>
        <div class="form-group">
          <input class="form-control" name="chatname" placeholder="Enter chat name" maxlength="10" required>
        </div>
        <div class="form-group">
          <!-- <a href="{% url 'new_group' %}" class="btn btn-secondary">New group</a> -->
          <button  type="submit" class="btn btn-success btn-lg btn-block">New group</button>
        </div>
        </form>
        </div>
      </div>
      

    <ul>
      {% for group in groups %}
      <div id="{{ group.chatname }}">
        <li><a>{{ group.chatname }}</a></li>
          {% if request.user in group.members.all %}
            <a href="{% url 'open_chat' uuid=group.uuid %}">Open</a>
            <a href="{% url 'leave_group' uuid=group.uuid %}">Leave</a>
            <a href="{% url 'remove_group' uuid=group.uuid %}">Delete</a>
          {% else %}
            <a href="{% url 'join_group' uuid=group.uuid %}">Join</a>
          {% endif %}
      </div>
      {% endfor %}
    </ul>

    {% else %}
      <h2>Hmm, who are you?</h2><a href="{% url 'login' %}" class="btn btn-secondary">Log in</a>
    {% endif %}

{% endblock content %}
    